<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>aboute</title>
    <%- include('./header/cdns.ejs')  %> 
</head>
<body>
    <%- include('./header/navbar.ejs')  %> 
    <p>aboute</p>
    <!-- <script src="../public/scripts/linkActive.js"></script> -->
</body>
</html>